.partsBox#2
  .imageBox
    = image_tag 'member_photo_noimage_thumb.png', class: 'image'
  .name_messageBox
    .nameBox
      ミカエル
    .messageBox
      .text
        タクミさん、こんにちは！
        %br/
        そうですね...
        %br/
        おうちデートなら一緒に料理とかされてはいかがでしょうか？
        %br/
        共同作業で親密度アップ間違いなしです！