.profile_container{
  width: 730px;
  // background-color: green;
  padding: 8px;
  .top_image_container{
    position: relative;
    .image_deleteBtn{
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 20px;
      background-color: red;
      z-index: 1;
      &:hover{
        cursor: pointer;
      }
      .fa-trash-alt{
        font-size: 16px;
      }
    }
    .main_imageBtn{
      .main_imageBox{
        text-align: center;
        position: relative;
        .top_image{
          height: 500px;
          width: 500px;
        }
        .mp_top_image{
          height: 500px;
          width: 500px;
        }
      }
    }
    .image_container{
      display: flex;
      width: 730px;
      height: 100%;
      background-color: blue;
      overflow-x: scroll;
      .slide_image{
        margin-left: 10px;
        height: 100px;
        width: 100px;
      }
      .add_main_imageBtn{
        position: relative;
        .text{
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          font-size: 16px;
          line-height: 20px;
          width: 100px;
          margin: 42px 0 0 10px;
          white-space: nowrap;
        }
      }
      .no_slide_image{
        margin-left: 10px;
        height: 100px;
        width: 100px;
      }
      
      .add_sub_imageBtn{
        position: relative;
        .text{
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          font-size: 16px;
          line-height: 20px;
          width: 100px;
          margin: 42px 0 0 10px;
          white-space: nowrap;
        }
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .profile_elements{
    width: 730px;
    h2.subtitle{
      font-size: 28px;
      text-align: center;
    }
    .element{
      background-color: skyblue;
      
      margin: 20px 0 20px 0;
      .flexBox{
        width: 730px;
        position: relative;
        display: flex;
        
        .update_text{
          width: 600px;
          font-size: 18px;
        }
        .update_textarea{
          width: 600px;
          height: 100px;
          font-size: 18px;
        }
      }
    }
    .submitBtn{
      width: 200px;
      height: 40px;
      border: 0px transparent solid;
      border-radius: 5px;
      font-size: 16px;
      margin-left: 265px;
      transition: 0.3s;
      &:hover{
        background-color: #6be1ff;
      }
    }
  }
  .add_container{
    
    .background_container{
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 100px 300px;
    }
    .add_image_container{
      position: absolute;
      top: 100px;
      left: 300px;
      .imageBtn{
        .upload_image_form{
          .image_label{
            background-color: red;
            .added_imageBox{
              position: relative;
              .added_image{
                width: 500px;
                height: 500px;
              }
              .text{
                position: absolute;
                top: 242px;
                left: 170px;
              }
            }
          }
          .submit_main_image{
            width: 200px;
            height: 40px;
            font-size: 24px;
            border: 0px transparent solid;
            margin-left: 150px;
          }
        }
      }
    }
  }
}