.header_logged_in{
  height: 68px;
  padding: 7px 0 0;
  .header_bottom{
    height: 5px;
    color: blue;
    filter: drop-shadow(0 -1px 1px #bbb);
    border-bottom: 1px #ddd solid;
  }
  .header_container{
    width: 930px;
    margin: 0 auto;
    display: flex;
    .leftBox{
      display: flex;
      .logo{
        
      }
      .text{
        width: 250px;
        color: #999;
        font-size: 14px;
        text-align: center;
        line-height: 58px;
        filter: drop-shadow(0 -1px 1px #bbb);
      }
    }
    .rightBox{
      margin: auto 0 auto auto;
      filter: drop-shadow(0 -1px 1px #bbb);
    }
  }
}
.main_contents{
  width: 930px;
  margin: 0 auto;
  display: flex;
  .nav_side{
    background-color: rgb(253, 251, 239);
    width: 200px;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    .side_header{
      .mypage{
        width: 200px;
        border-bottom: 1px #ddd solid;
        .no_image_link{
          transition: .3s;
          &:hover{
            opacity: 0.7;
          }
          &:hover +.center_linkBox{
            opacity: 0.7;
          }
          .no_image{
            margin: 10px 70px;
          }
        }
        a{
          text-decoration: none;
          color: #555;
        }
        .center_linkBox{
          transition: .3s;
          width: 140px;
          display: flex;
          margin: 0 auto;
          &:hover{
            opacity: 0.7;
          }
          .name{
            
          }
          .region{
            margin: 0 auto;
          }
          .fa-chevron-right{
            margin-left: auto;
            color: #999;
            &:after{

            }

          }
        }
        .bottomBox{
          font-size: 14px;
          text-align: center;
          .text{
            margin: 0 auto;
            
          }
        }
      }
    }
    .side_main{
      list-style: none;
      padding-bottom: auto;
      .nav_list{
        width: 100%;
        font-size: 16px;
        position: relative;
        a{
          text-decoration: none;
          color: #666;
          position: relative;
          &::after{
            content: '';
            display: inline;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgb(255, 238, 0);
            transform-origin: left;
            transform: scale(0, 1);
            transition: .3s;
          }
          &:hover::after{
            transform: scale(1, 1);
          }
        }
        .nav_link{
          display: block;
          background-color: rgb(253, 251, 239);
          width: 100%;
          height: 100%;
          padding: 10px 0;
          margin: 15px 0;
          transition: .3s;
          &:hover{
            background-color: rgb(255, 241, 228);
          }
          .fa-chevron-right{
            position: absolute;
            font-size: inherit;
            right: 14px;
          }
        }
      }
      .follow_ancynchronous_container{
        position: absolute;
        top: 0;
        left: 200px;
        .follow_listBox{
          display: block;
          width: 200px;
          height: 36px;
          line-height: 36px;
          background-color: #eee;
          transition: 0.2;
          z-index: 1;
          &:hover{
            background-color: #ddd;
          }
        }

        .followed_listBox{
          display: block;
          width: 200px;
          height: 36px;
          line-height: 36px;
          background-color: #eee;
          transition: 0.2;
          z-index: 1;
          &:hover{
            background-color: #ddd;
          }
        }
      }
      .match_ancynchronous_container{
        position: absolute;
        top: 0;
        left: 200px;
        .match_listBox{
          display: block;
          width: 200px;
          height: 36px;
          line-height: 36px;
          background-color: #eee;
          transition: 0.2;
          z-index: 1;
          &:hover{
            background-color: #ddd;
          }
        }

        .match_approval_listBox{
          display: block;
          width: 200px;
          height: 36px;
          line-height: 36px;
          background-color: #eee;
          transition: 0.2;
          z-index: 1;
          &:hover{
            background-color: #ddd;
          }
        }
      }
    }
    .side_footer{
      border-top: 1px #bbb solid;
      list-style: none;
      padding-bottom: 800px;
      .footer_list{
        margin-top: 20px;
        a{
          font-size: 14px;
          text-decoration: none;
          color: rgb(202, 194, 83);
          display: inline;
          position: relative;
          &::after{
            position: absolute;
            bottom: -4px;
            left: 0;
            background-color: rgb(197, 186, 29);
            width: 100%;
            height: 2px;
            transform: scale(0, 1);
            content: '';
            transition: .3s;
            transform-origin: left;
          }
          &:hover::after{
            transform: scale(1, 1);
          }
        }
        
        .nav_link{
          &:hover +.a{
            text-decoration: underline;
          }
          .fa-question-circle{

          }
        }
      }
    }
  }
  .main-search-result{
    height: 100%;
    width: 730px;
    .search-result-container{
      h2.subtitle{
        text-align: center;
        font-size: 27px;
        margin: 50px 0;
      }
      .head-container{
        margin: 15px 0 15px 15px;
        padding: 8px 20px 20px 20px;
        background-color: rgb(255, 230, 234);
        border: 1px rgb(214, 200, 0) solid;
        width: 673px;
        font-size: 13px;
        ul.lists{
          list-style: none;
          
          li.list{
            margin-top: 12px;
            a{
              color: rgb(255, 59, 92);
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
        }
      }
      
      .main-searchBox{
        display: flex;
        background-color: rgb(255, 255, 255);
        .leftBox{
          width: 150px;
          height: 40px;
          padding: 5px 0 0 5px;
          .searchBtn{
            border: 1px rgb(255, 0, 85) solid;
            display: block;
            text-align: center;
            width: 100%;
            height: calc(100% - 10px);
            line-height: 30px;
            border-radius: 16px;
            background-color: #ffffff;
            color: red;
            filter: drop-shadow(2px 4px 4px rgb(255, 0, 85));
            &:hover{
              background-color: #fff;
              margin: 1px 0 0 0.5px;
              cursor: pointer;
              filter: drop-shadow(1.5px 3px 2px rgb(255, 0, 85));
            }
            &:active{
              margin: 2px 0 0 1px;
              background-color: rgb(255, 253, 232);
              filter: drop-shadow(1px 2px 1px #aaa);
            }
          }
        }
        .centerBox{
          color: #333;
          margin-left: 150px;
          line-height: 45px;
        }
        .rightBox{
          margin: 0 10px 0 auto;
          .BlockBtn{
            line-height: 45px;
            color: #333;
          }
        }
      }
      .prayBox{
        margin: 20px 0 20px 140px;
        color: #555;
      }
      main.main_container{
        width: 100%;
        height: 100%;

        ul.line_block{
          list-style: none;
          display: flex;
          margin-bottom: 25px;
          li.listBox{
            width: 145px;
            height: 250px;
            background-color: #ddd;
            text-align: center;
            margin-left: 30px;
            border-radius: 5px;
            .imageBox{
              width: 100%;
              height: 110px; 
              margin-top: 2px;
              .c_image_link{
                display: block;
                background-color: red;
                height: 0;
                &:hover{
                  opacity: 0.7;
                }
                .image{  
                  border: 0 #ddd solid; 
                  border-radius: 50%;
                  width: 110px;
                  height: 110px;
                }
              } 
              .image_link{
                display: block;
                background-color: red;
                height: 0;
                &:hover{
                  opacity: 0.7;
                }
                .image{  
                  border: 0 #ddd solid; 
                  border-radius: 50%;
                  width: 110px;
                  height: 110px;
                }
              } 
            }
            .bottomBox{
              font-size: 14px;
              color: #333;
              width: 100%;
              position: relative;
              height: 130px;
              .nameBox{
                margin-top: 8px;
              }
              .love_sustainableBox{
                font-size: 13px;
                margin-top: 8px;
                display: inline-block;
                margin-right: 10px;
                color: rgb(255, 86, 137);
              }
              .followerBox{
                font-size: 13px;
                margin-top: 8px;
                display: inline-block;
                color: red;
              }
              .specialtyBox{
                display: block;

                .text{
                  color: rgb(197, 184, 0);
                  margin-bottom: 4px;
                }
                margin-top: 10px;
              }
              // フォロー済かどうかを選ぶ
              .followBox{
                position: absolute;
                bottom: 4px;
                left: 5px;
                width: calc(100% - 10px);
                height: 30px;
                filter: drop-shadow(2px 2px 4px rgb(255, 0, 179));
                &:active{
                  filter: drop-shadow(1px 1px 2px rgb(255, 0, 179));
                  position: absolute;
                  bottom: 3px;
                  left: 6px;
                }
                .followBtn{
                  border: 1px rgb(255, 0, 85) solid;
                  color: rgb(255, 0, 85);
                  background-color: #fff;
                  line-height: 29px;
                  border-radius: 15px;
                  height: 30px;
                  
                  &:hover{
                    background-color: rgb(255, 0, 85);
                    color: #fff;
                    cursor: pointer;
                  }
                }
              }
              .followedBox{
                
                position: absolute;
                bottom: 4px;
                left: 5px;
                width: calc(100% - 10px);
                height: 30px;
                .followedBtn{
                  background-color: #aaa;
                  border-radius: 15px;
                  height: 30px;
                  line-height: 29px;
                  &:hover{
                    cursor: pointer;
                  }
                }
              }
              // followedBox外でも使えるようにした
              .followedBtn{
                background-color: #aaa;
                border-radius: 15px;
                height: 30px;
                line-height: 29px;
                &:hover{
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .c_user_detail{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 100px 0 0 100px;
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
      }
      .c_user_detail_container{
        position: relative;
        width: 550px;
        .detailBox{
          position: absolute;
          top: 100px;
          left: 200px;
          .top_contents{
            .top_side_bar{
              .tellBox{

              }
              .messageBox{

              }
            }
            .main_image{
              .main_topBox{
                .main_image{
                  width: 500px;
                  height: 500px;
                }
              }
            }
            .bottom_slide_image{
              display: flex;
              .icon{
                width: 100px;
                height: 100px;
              }
              .sub_icon{
                width: 100px;
                height: 100px;
              }
            }
          }
          .main_detail{
            width: 500px;
            .bottom_sidebar{

            }
          }
        }
      }
      .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.7);
      }
      .qualification_container{
        position: absolute;
        top: 100px;
        left: 200px;
        z-index: 1;
        width: 730px;
        background-color: rgb(209, 196, 13);
        h2.text{
          font-size: 30px;
          text-align: center;
        }
        .ageBox{
          display: flex;
          .wave{
            margin: 20px 5px 0 5px;
          }
        }
      }
    }
  }
}

