.main_match_approval_container
  .match_approval_header
    %h2.title
      マッチング申請一覧
  %ul.match_approval_listsBox
    = render "mypage/li_render_list/user_line_list"
    = render "mypage/li_render_list/user_line_list"
    = render "mypage/li_render_list/user_line_list"