.c_follower_container
  .search-result-container
    %h2.subtitle
      フォロワー
    %main.main_container
      - if @items.length != 0 then
        - for k in 0..3 do
          %ul.line_block
            - @items.each_with_index do |item, i|
              - if k == 0 then
                = render partial: "cmypage/li_render_list/c_user_list", locals: { image: item[:image], user: item[:user], i: i, k: k}
                - if (i+1)%4 == 0 then
                  - break
              - elsif k == 1 then
                - if i >= 4 && i <= 7
                  = render partial: "cmypage/li_render_list/c_user_list", locals:  { image: item[:image], user: item[:user], i: i, k: k}
                  - if (i+1)%4 == 0 then
                    - break
              - elsif k == 2 then
                - if i >= 8 && i <= 11
                  = render partial: "cmypage/li_render_list/c_user_list", locals:  { image: item[:image], user: item[:user], i: i, k: k}
                  - if (i+1)%4 == 0 then
                    - break
              - elsif k == 3 then
                - if i >= 12 && i <= 15
                  = render partial: "cmypage/li_render_list/c_user_list", locals:  { image: item[:image], user: item[:user], i: i, k: k}
                  - if (i+1)%4 == 0 then
                    - break
      - elsif @items.length == 0 then
        .textBox
          データが見つかりませんでした。
    .user_information
      