.header_logged_in
  .header_container
    .leftBox
      = link_to image_tag('cupido_logo.png', height: '60px', class: 'logo'), "#"
      .text
        恋愛・恋活マッチングサービス
    .rightBox
      = link_to image_tag('fukidashi.png', height: '40px', class: "fukidashi"), "#"
  .header_bottom