.main_match_approval_container
  .match_approval_header
    %h2.title
      マッチング申請一覧
  %ul.match_approval_listsBox
    - if @match_users.length == 0 then
      .textBox
        現在マッチング申請はありません
    - elsif @match_users.length != 0 then
      - @match_users.each do |match_user|
        = render partial: "cmypage/li_render_list/c_user_line_list", locals: {match_user: match_user}